@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Vérouillée.</h1>
    <h2 class="text-danger">Ce compte est vérouillé, veuillez essayer plustard.</h2>
</hgroup>
