@model IEnumerable<medical.Model.Models.Hospitalisation>

@{
    ViewBag.Title = "Index";
}

<div class="row no-gutters align-items-center">
    <div class="col-auto">
        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Count()</div>
    </div>
    <div class="col">
        <div class="progress progress-sm mr-2">
            <div class="progress-bar bg-info" role="progressbar"
                 style="width: @Model.Count()" aria-valuenow="@Model.Count()" aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
    </div>
</div>
